.btn{
    width: 314px;
    height: 48px;

    background-color: var(--color-primary);
    border: transparent;
    border-radius: 8px;

    color: #FFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    &:hover{
        background-color: var(--color-primary-two);
        color: var(--color-gray-one);
    }
   
}

