:root{
    --color-primary: #FD377E;
    --color-primary-two: #E34981;
    --color-secondary: #03B898;
    
    --color-gray-one: #F8F9FA;
    --color-gray-two: #E9ECEF;
    --color-gray-three: #868E96;
    --color-gray-four: #212529;
    
}

