.finance{
    width: 22.188rem;
    border: 1px solid #00000020;
   
    height: 27.125rem;
  
    display: flex;
    flex-direction: column;
   
    justify-content: space-evenly;
    align-items: center;
}

