.finance{
    width: 355px;
    border: 1px solid var(--color-gray-three);
    height: 434px;
  
    display: flex;
    flex-direction: column;
   
    justify-content: space-evenly;
    align-items: center;
}